.hero {
    /* background-image: url("1773008.png"); */

    background-size: cover;
    background-position: center;
    height: 1000px;
    display: flex;
    align-items: center;
}

.videoBG {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.search {
    padding: 0;
    margin: 0;
    height: 1vh;
    width: 2%;
    background: #07051a;
}


form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid rgb(250, 250, 250);
    padding: 5px;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover,
form:valid {
    width: 200px;
    cursor: pointer;
}

form:hover input,
form:valid input {
    display: block;
}

form:hover .fa,
form:valid .fa {
    background: #07051a;
    color: rgb(190, 0, 0);
}


form:valid a {
    display: block;
}

#player-container #play-pause {
    cursor: pointer;
    text-indent: -999999px;
    height: 40px;
    width: 40px;
    padding: 12px 18px;
    z-index: 2;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    position: absolute;
    mask-image: none;
    top: 16%;
    left: 87.5%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

#player-container #play-pause:hover {
    transition: all 2s;
    background-color: rgb(180, 0, 0);

}


.play {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
}

.pause {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==) !important;
}
.arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    box-sizing: border-box;
    background: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .arrow::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 12px;
    height: 12px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    background: transparent;
    box-sizing: border-box;
  }
  
  .arrow:hover {
    transform: translateY(10px);
  }

